<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/forget.css">
</head>
<body>

<div id="myDiv">

    <div id="smallDiv">
        <form action="check" method="get" id="theForm">
            <input type="text" class="myInput" name="userName" placeholder="用户名">
            <br>
            <input type="text" class="myInput" name="passWord1"  placeholder="原密码">
            <br>
            <input type="text" class="myInput" name="passWord2"  placeholder="新密码">
            <br>

            <input type="submit" class="myInput" value="提交" id="input3">

        </form>
    </div>



</div>
</body>
</html>
